:root {
    --body-text-color: #000;
}

details {
    &.info {
        padding: 0.75em;
        border: var(--heading-border-size) solid;
    }

    summary {
        cursor: pointer;
        outline: none;
        text-indent: 0.75em;
    }
}

th, td {
    &.table-info {
        padding: 0.75em;
        border: var(--heading-border-size) solid;
    }
}

img {
    &.emoji {
        width: 1em;
        height: 1em;
        margin: 0 .05em 0 .1em;
        vertical-align: -0.1em;
        pointer-events: none; 
    }
}

.emoji {
    font-family: "Twemoji", "Twitter Emoji", "Apple Color Emoji", "Segoe UI Emoji", "NotoColorEmoji", "Segoe UI Symbol", "Android Emoji";
}

.article--toc {
    #TableOfContents {
        ol {
            counter-reset: item;
            list-style-type: none;
            padding: 0;
        }

        & > li {
            padding: 0;
            margin: 0;
        }

        li {
            padding: 5px;

            &::before {
                counter-increment: item;
                content: counters(item, ".") ". ";
                font-weight: bold;
                margin-right: 5px;
            }

            & > ol {
                padding-left: 10px;

                & > li:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
