{{ if eq .Site.Params.Twemoji.enabled true }}
    {{- partial "helper/external" (dict "Context" . "Namespace" "Twemoji") -}}
    {{- $Twemoji := .Site.Params.Twemoji -}}
{{ with $Twemoji.Options }}
<script>
    window.onload = function() {
        twemoji.parse(document.body, 
            {
                folder: '{{ .Path }}', 
                ext: '{{ .Ext }}',
                base: '{{ .baseURL }}',
                size: '{{ .Size }}',
                className: '{{ .className }}'
            }
        );
    }
</script>
{{ end }}
{{ end }}
