<div class="disqus-container">
    {{- $pc := .Site.Config.Privacy.Disqus -}}
    {{- if not $pc.Disable -}}
    {{ if .Site.DisqusShortname }}<div id="disqus_thread"></div>
    <script type="application/javascript">
        var disqus_config = function () {
        {{with .Params.disqus_identifier }}this.page.identifier = '{{ . }}';{{end}}
        {{with .Params.disqus_title }}this.page.title = '{{ . }}';{{end}}
        {{with .Params.disqus_url }}this.page.url = '{{ . | html  }}';{{end}}
        };
        var disqus_observer = new IntersectionObserver(function(entries) {
            // comments section reached
            // start loading Disqus now
            if (["localhost", "127.0.0.1"].indexOf(window.location.hostname) != -1) {
                document.getElementById('disqus_thread').innerHTML = 'Disqus comments not available by default when the website is previewed locally.';
                return;
            }
            if(entries[0].isIntersecting) {
                (function() {
                    var d = document, s = d.createElement('script');
                    s.src = 'https://{{ .Site.DisqusShortname }}.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
        
                // once executed, stop observing
                disqus_observer.disconnect();
            }
        }, { threshold: [0] });
        disqus_observer.observe(document.querySelector("#disqus_thread"));
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="https://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>{{end}}
    {{- end -}}
</div>

<style>
    .disqus-container {
        background-color: var(--card-background);
        border-radius: var(--card-border-radius);
        box-shadow: var(--shadow-l1);
        padding: var(--card-padding);
    }
</style>

<script>
    window.addEventListener('onColorSchemeChange', (e) => {
        if (DISQUS) {
            DISQUS.reset({
                reload: true
            });
        }
    })
</script>
